*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#hero{
    width: 50%;
    height: 50%;
    background-color: crimson;
}
#inner{
    width: 50%;
    height: 50%;
    background-color: royalblue;
}
something wrong down here
#h1{
    width: 50vw;
    height: 50vw;
}
#h2{
    width: 50vw;
    height: 50vw;
}
#h3{
    width: 50vw;
    height: 50vw;
}